
#Page1 {
    margin-top: 100px;
    margin-left: 200px;
}
#Page2 {
    margin-top: 100px;
    margin-left: 200px;
}

/* Go Button */

.myButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #a4e271;
    -webkit-box-shadow: inset 0px 1px 0px 0px #a4e271;
    box-shadow: inset 0px 1px 0px 0px #a4e271;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
    background: -moz-linear-gradient(top, #89c403 5%, #77a809 100%);
    background: -webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
    background: -o-linear-gradient(top, #89c403 5%, #77a809 100%);
    background: -ms-linear-gradient(top, #89c403 5%, #77a809 100%);
    background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809', GradientType=0);
    background-color: #89c403;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #74b807;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Georgia;
    font-size: 21px;
    font-weight: bold;
    font-style: italic;
    padding: 10px 37px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528009;
    position: absolute;
    top: 420px;
    right: 600px;
}
}
.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
    background: -moz-linear-gradient(top, #77a809 5%, #89c403 100%);
    background: -webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
    background: -o-linear-gradient(top, #77a809 5%, #89c403 100%);
    background: -ms-linear-gradient(top, #77a809 5%, #89c403 100%);
    background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403', GradientType=0);
    background-color: #77a809;
}
.myButton:active {
    position: relative;
    top: 1px;
}

/* Main content area */

#content {
    margin: 80px 70px;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
/* Slots for final card positions */

#cardSlots {
    margin: 50px auto 50px auto;

}
/* The initial pile of unsorted cards */

#cardPile {
    margin: 0 auto;
}
#cardSlots {
width: 720px;
height: 120px;
padding: 20px;
border: 2px solid #d5ff4a;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}
#cardPile {
width: 720px;
height: 215px;
padding: 20px;
border: 2px solid #d5ff4a;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}
/* Individual cards and slots */

#cardSlots div,
#cardPile div {

    width: 80px;
    height: 80px;
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 0;
    border: 2px dotted #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0 0 0 10px;
    background: #fff;
}
#cardSlots div:first-child,
#cardPile div:first-child {
    margin-left:10px;
}
#cardSlots div.hovered {
    background: #aaa;
}
#cardSlots div {
    border-style: dashed;
}
#cardPile div {
    background: #666;
    color: #fff;
    font-size: 50px;
    text-shadow: 0 0 3px #000;
}
#cardPile div.ui-draggable-dragging {
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

/* "Fabulous!" message */

#successMessage {
    position: absolute;
    left: 580px;
    top: 250px;
    width: 0;
    height: 0;
    z-index: 100;
    background: #ec8800;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    padding: 20px;
